@import '../../style/variables.scss';
@import '../../style/common.scss';
@import '../../style/common-button.scss';

.profile-page {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  @include common-button();
}

.profile-page__buttons {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2rem;
  width: $profile-view-window-width-small;

  //large screen/
  @include media-query-brakepoint(large) {
    width: $profile-view-window-width-large;
  }
}
