@import '../../../style/variables.scss';
@import '../../../style/common.scss';
@import '../../../style/common-button.scss';

.edit-profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include common-button();
}

.edit-profile__window {
  background-color: $profile-view-background-color-a;
  color: $profile-card-text-color;
  width: $profile-view-window-width-small;
  height: auto;
  font-size: 1rem;
  border-radius: 4px;
  margin-bottom: 2rem;
  padding: 1rem;

  //large screen
  @include media-query-brakepoint(large) {
    width: $profile-view-window-width-large;
  }
}
