@import '../../../style/variables.scss';

.hobby-button {
  background-color: rgb(194, 194, 194);
  padding: 0;
  border: none;
  background-color: $header-backgoud-color-a;
  font: inherit;
  color: #e6e6e6;
  cursor: pointer;
  min-width: 4rem;
  margin-right: 0.5rem;
  border-radius: 4px 4px 4px 4px;
  text-align: center;
  padding: 0.4rem 0.4rem;
  margin: 0.5rem 0.5rem;
}

.hobby-button:hover {
  color: $text-large-color-a;
  background-color: $form-text-input-invalid-background-color-a;
}
