//screen size
$breakpoints: (
  'large': 40rem
);

@mixin media-query-brakepoint($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

.common__space--h-1rem {
  height: 1rem;
}

.common__space--h-2-5rem {
  height: 2.5rem;
}
