//element sizes based on screen size
$profile-view-window-width-large: 32rem;
$profile-view-window-width-small: 20rem;

//large screen
$large-screen-width: 40rem;

//layout colors
$background-main-color-a: #dfe3e9;

//header
$header-backgoud-color-a: #1f2d3b;

$navbar-item-color: #f1f1f1;
$navbar-item-hover-color: #94a0b6;
$navbar-shadow-a: 0 1px 5px 0 #5e5e5e;

//foter
$footer-backgoud-color-a: #1f2d3b;
$footer-shadow-a: 0 1px 5px 0 #5e5e5e;

//texts colors
$text-large-color-a: #3d4650;

//form
$input-text-background-color-a: #f8f8f8;
$input-text-focus-background-color-a: #ccd5dd;

$form-button-background-color-a: #1f2d3b;
$form-button-hover-background-color-a: #32445a;
$form-button-text-color-a: #f8f8f8;

//invalid input
$form-text-input-invalid-background-color-a: #fdc98e;

//button
$button-background-color-a: #1f2d3b;
$button-hover-background-color-a: #32445a;
$button-text-color-a: #e2e2e2;

//profile card
$profile-card-text-color: #e2e2e2;
$profile-card-text-hover-color: #e2e2e2;
$profile-card-background-color-a: #dfdfdf;
$profile-card-background-hover-color-a: #32445a;

$box-shadow-a: 2px 2px 3px #5e5e5e57;

//profile view
$profile-view-background-color-a: #f5f4f4;
$profile-view-headline-text-color-a: #1d1d1d;
$profile-view-text-color-a: #808080;
$profile-view-photo-background-color-a: #eeeeee;
